<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <!-- icon library and stylesheet reference -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{ url_for('static', filename='css/cart.css') }}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
  <div class="overlay"></div>
  <div class="topnav">
    <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i> Home</a>
    <form id="searchForm" action="{{ url_for('search') }}" method="GET" onsubmit="return handleSearch()">
      <input class="searchbar" type="text" id="searchInput" name="query" placeholder="search for products <3">
    </form>   
    <div class="imageRight">
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <img src="{{ url_for('static', filename='Icons/user.png')}}" alt="user" class="user-icon" width="27px"
          height="27px">
    </div></button>
    <div class="dropdown-content hidden" id="myDropdown">
      <!-- Dropdown content for user account management -->

      <!-- Close button for dropdown-->
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <i class="fa fa-times fa-xs fa-fw imageRight"
           style="font-size: 2em;"></i>
      </button>

      {% if not session.logged_in %}

        <!-- Account options header -->
        <h2>ACCOUNT</h2>

        <a href="{{ url_for('adminlogin') }}">
          <h4>Admin Login</h4>
        </a>
        <a href="{{ url_for('userlogin') }}">
          <h4>User Login</h4>
        </a>
      </div>
       {% else %}
      <!-- Welcome message and logout option for logged-in users -->
      <h2> Welcome, {{session.username}}</h2>
      <form action="{{ url_for('logout') }}" method="post">
          <input type="submit" value="Logout">
      </form>
      </div>
       {% endif%}

    <!-- Cart icon button -->
    <button class="cart-icon-btn" onclick="window.location.href = '{{ url_for('cart') }}';">
      <img src="{{ url_for('static', filename='Icons/cart.png')}}" alt="user" class="user-icon" width="27px"
        height="27px">
   </button>
  </div>
  </div>
  </div>
  <div class="bottomnav">
    <ul>
      {% if session.logged_in and session.user_type == 'manager' %}
          <!-- Display New Products Link -->
          <li><a href="{{ url_for('change_stock_form') }}">New Products</a><li>
          <li><a href="{{ url_for('orders') }}">Orders</a><li>
      {% endif %}
      <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
    </ul>
  </div>
  <h3 class="cart">Cart</h3>
  <div class="cartRow">
  <div class="cartBox">
    <h3>Items</h3>
      {% for item in cart_items %}
        <div class="itemTitle">
          {{ item.product.name }} -
          {% if item.product.type == 'packaged' %}
            Quantity: {{ item.quantity }}
          {% elif item.product.type == 'fresh' %}
            Weight: {{ '%.2f'|format(item.quantity) }} pounds
          {% endif %}
          <div class="itemPrice">
            {% if item.product.type == 'packaged' %}
               Price per unit: ${{ '%.2f'|format(item.product.price) }}
            {% elif item.product.type == 'fresh' %}
               Price per pound: ${{ '%.2f'|format(item.product.price) }}
            {% endif %}
          </div>
          <!-- Form to remove items from the cart -->
          <form action="{{ url_for('remove_from_cart', product_id=item.product.id) }}" method="post">
            {% if item.product.type == 'fresh' %}
              <!-- Allow decimal values for fresh products -->
              <input type="number" name="quantity_to_remove" value="1" min="0.01" step="0.01" max="{{ item.quantity }}">
            {% else %}
              <!-- Integer values for packaged products -->
              <input type="number" name="quantity_to_remove" value="1" min="1" max="{{ item.quantity }}">
            {% endif %}
            <button type="submit">Remove</button>
          </form>
        </div>
      {% endfor %}



  </div>
  <div class="checkoutBox">
    <div class="checkoutBox-items">
      <div class="checkoutBox-headers">Subtotal</div>
      <div class="checkoutinnerBox">
        Total: ${{ '%.2f'|format(subtotal) }}
        <br>
        Tax: ${{ '%.2f'|format(sales_tax) }}
      </div>
      <div class="checkoutBox-headers">Shipping</div>
      <div class="checkoutinnerBox">
        Shipping Cost: ${{ '%.2f'|format(shipping_cost) }}
      </div>
      <div class="text">
      Grand Total: ${{ '%.2f'|format(grand_total) }}
      </div>
      <li class="checkoutButton" type="submit"><a href="{{ url_for('checkout') }}">Checkout</a></li>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>