<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Featured Products</title>
  <!-- icon library and stylesheet reference -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
  <div class="overlay"></div>
  <div class="topnav">
    <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i> Home</a>
    <form id="searchForm" action="{{ url_for('search') }}" method="GET" onsubmit="return handleSearch()">
      <input class="searchbar" type="text" id="searchInput" name="query" placeholder="search for products <3">
    </form>   
    <div class="imageRight">
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <img src="{{ url_for('static', filename='Icons/user.png')}}" alt="user" class="user-icon" width="27px"
          height="27px">
    </div></button>
    <div class="dropdown-content hidden" id="myDropdown">
      <!-- Dropdown content for user account management -->

      <!-- Close button for dropdown-->
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <i class="fa fa-times fa-xs fa-fw imageRight"
           style="font-size: 2em;"></i>
      </button>

      {% if not session.logged_in %}

        <!-- Account options header -->
        <h2>ACCOUNT</h2>

        <a href="{{ url_for('adminlogin') }}">
          <h4>Admin Login</h4>
        </a>
        <a href="{{ url_for('userlogin') }}">
          <h4>User Login</h4>
        </a>
      </div>
    {% else %}
      <!-- Welcome message and logout option for logged-in users -->
      <h2> Welcome, {{session.username}}</h2>
      <form action="{{ url_for('logout') }}" method="post">
          <input type="submit" value="Logout">
      </form>
      </div>
    {% endif%}

    <!-- Cart icon button -->
    <button class="cart-icon-btn" onclick="window.location.href = '{{ url_for('cart') }}';">
      <img src="{{ url_for('static', filename='Icons/cart.png')}}" alt="user" class="user-icon" width="27px"
        height="27px">
    </button>
  </div>
  </div>
  </div>
  <div class="bottomnav">
    <ul>
      <li><a href="{{ url_for('categories') }}">Select Category</a></li>
      <li><a href="#">New Products</a></li>
      <li><a href="{{ url_for('featured') }}">Featured Products</a></li>
      <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
    </ul>
  </div>
  <h1 style="margin-left:19%;">Featured Items:</h2>
    <div class="row">
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/eggnog.png')}}" alt="eggnog" width="80px" height="80px">
        <h3>Eggnog</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/turkey.png')}}" alt="turkey" width="80px" height="80px">
        <h3>Turkey</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/stuffing.png')}}" alt="stuffing" width="80px" height="80px">
        <h3>Stuffing</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/cranberrysauce.png')}}" alt="cranberry sauce" width="80px" height="80px">
        <h3>Cranberry Sauce</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>

    </div>
    <div class="row">
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/pumpkinpie.png')}}" alt="pumpkin pie" width="80px" height="80px">
        <h3>Pumpkin Pie</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/cookies.png')}}" alt="christmas cookies" width="80px"
          height="80px">
        <h3>Christmas Cookies</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/gingerbread.png')}}" alt="gingerbread cookies" width="80px" height="80px">
        <h3>Gingerbread Cookies</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/peppermint.png')}}" alt="peppermint bark" width="80px" height="80px">
        <h3>Peppermint Bark</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>

    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>