<!DOCTYPE html>
<html>

<head>
  <!-- Basic page setup with meta tags and title -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Homepage</title>
  <!-- icon library and stylesheet reference -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Overlay for styling purposes -->
  <div class="overlay"></div>

  <!-- Top navigation bar -->
  <div class="topnav">
    <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i> Home</a>

    <!-- Search bar form -->
    <form>
      <input class="searchbar" type="search" placeholder="search for products <3">
    </form>

    <!-- User icon and dropdown for account management -->
    <div class="imageRight">
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <img src="{{ url_for('static', filename='Icons/user.png')}}" alt="user" class="user-icon" width="27px"
          height="27px">
      </button>
    </div>
    <div class="dropdown-content hidden" id="myDropdown">
      <!-- Dropdown content for user account management -->

      <!-- Close button for dropdown-->
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <i class="fa fa-times fa-xs fa-fw imageRight"
           style="font-size: 2em;"></i>
      </button>

      {% if not session.logged_in %}

        <!-- Account options header -->
        <h2>ACCOUNT</h2>

        <!-- Registration section -->
        <div id="oneline">
          <h4>Register</h4>
          <!-- Button to trigger registration popup -->
          <button id="loginButton" class="user-icon-btn" onclick=registrationPopUp()>
            <img class="arrow-level" src="{{ url_for('static', filename='Icons/down.png')}}" alt="downarrow" width="20px"
              height="20px">
          </button>
        </div>

        <!-- Registration form popup -->
        <div class="form-popup" id="register">
          <!-- Flash messages for user feedback -->
          <div id="flash-messages">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  <ul class="flash-messages">
                      {% for category, message in messages %}
                          <li class="{{ category }}">{{ message }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endwith %}
          </div>

          <!-- Registration form -->
          <form action="/api/addUser" method="post" class="form-container" id="popUpForm">
            <h2>Registration</h2>

            <!--username-->
            <div class="input-container">
            <i class="fa fa-fw fa-user"></i>
            <input type="text" id="userName" name="name" placeholder="Username">
            </div>

            <!--password-->
            <div class="input-container">
            <i class="fa fa-fw fa-lock"></i>
            <input type="password" id="passWord" name="password" placeholder="Password">
            </div>

            <!--confirm password-->
            <div class="input-container">
            <i class="fa fa-fw fa-lock"></i>
            <input type="password" id="confirmPassWord" name="confirm_password" placeholder="Confirm Password">
            </div>

            <!--email-->
            <div class="input-container">
            <i class="fa fa-fw fa-envelope"></i>
            <input type="email" id="email" name="email" placeholder="Email Address">
            </div>
            <br>
            <input type="submit" value="Submit">
          </form>
        </div>

        <!-- Login section -->
        <div id="oneline">
          <h4>Log In</h4>
          <!-- Button to trigger login popup -->
          <button id="loginButton" class="user-icon-btn" onclick=loginPopUp()>
            <img class="arrow-level" src="{{ url_for('static', filename='Icons/down.png')}}" alt="downarrow" width="20px"
              height="20px">
          </button>
        </div>

        <!-- Login form popup -->
        <div class="form-popup" id="login">
          <!-- Login form -->
          <form action="/api/login" method="post" class="form-container" id="loginForm">
            <h2>Login</h2>
            <div class="input-container">
              <i class="fa fa-fw fa-user"></i>
              <input type="text" id="userName" name="userName" placeholder="Username">
              </div>
          <div class="input-container">
              <i class="fa fa-fw fa-lock"></i>
              <input type="password" id="passWord" name="passWord" placeholder="Password">
          </div>
            <!-- Placeholder for error message -->
            <div id="loginErrorMessage" class="error-message"></div>
          <br>
      <input type="submit" value="Login">

  </form>

      <!-- Links for specialized login forms like Admin and User Login -->
      </div>
        <a href="{{ url_for('adminlogin') }}">
          <h4>Admin Login</h4>
        </a>
        <a href="{{ url_for('userlogin') }}">
          <h4>User Login</h4>
        </a>
      </div>
    {% else %}
      <!-- Welcome message and logout option for logged-in users -->
      <h2> Welcome, {{session.username}}</h2>
      <form action="{{ url_for('logout') }}" method="post">
          <input type="submit" value="Logout">
      </form>
      </div>
    {% endif%}

    <!-- Cart icon button -->
    <button class="cart-icon-btn">
        <img src="{{ url_for('static', filename='Icons/cart.png')}}" alt="cart" class="user-icon" width="27px" height="27px">
    </button>
  </div>
  </div>
  </div>

  <!-- Bottom navigation bar -->
  <div class="bottomnav">
    <!-- Navigation links for different sections of the site -->
    <ul>
      <li><a href="{{ url_for('categories') }}">Select Category</a></li>
      <li><a href="{{ url_for('upload') }}">New Products</a></li>
      <li><a href="{{ url_for('featured') }}">Featured Products</a></li>
      <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
    </ul>
  </div>

  <!-- Main banner image -->
  <div class="bannerposition">
    <img class="banner" src="{{ url_for('static', filename='Images/banner.png')}}">
  </div>

  <!-- Section to shop by categories -->
  <h4 style="margin-bottom:0;">Shop by:</h4>
  <h2>Categories</h2>

  <!-- Carousel for category selection -->
  <div class="row">
    <div class="carousel carousel-1">
      <button class="carousel-btn prev-btn"><i class="fa fa-chevron-left"></i></button>

      <!-- Container holding the carousel items -->
      <div class="carousel-container">
        <div class="carousel-inner">
          <div class="row">
            <a href="{{ url_for('fruit') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/fruits.png')}}" alt="fruits" width="80px"
                  height="80px">
                <h3>Fruit</h3>
              </div>
            </a>
            <a href="{{ url_for('vegetable') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/vegetables.png')}}" alt="vegetables" width="80px"
                  height="80px">
                <h3>Vegetables</h3>
              </div>
            </a>
            <a href="{{ url_for('dairy') }}" class="category-button">
              <div class="icon-category" style:"padding: 5">
                <img src="{{ url_for('static', filename='Icons/dairyproducts.png')}}" alt="dairy" width="80px"
                  height="80px">
                <h3>Dairy and Eggs</h3>
              </div>
            </a>
          </div>

          <div class="row">
            <a href="{{ url_for('meat') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/meat.png')}}" alt="meat" width="80px" height="80px">
                <h3>Meats</h3>
                <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
              </div>
            </a>
            <a href="{{ url_for('frozen') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/frozenfood.png')}}" alt="frozen food" width="80px"
                  height="80px">
                <h3>Frozen Food</h3>
              </div>
            </a>
            <a href="{{ url_for('beverages') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/beverages.png')}}" alt="beverages" width="80px"
                  height="80px">
                <h3>Beverages</h3>
              </div>
            </a>
          </div>
        </div>
      </div>

      <button class="carousel-btn next-btn"><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>

  <!-- Scripts for functionality like jQuery and custom scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/ajaxScript.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script>
  document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault();

    // Create a FormData object, passing in the form
    var formData = new FormData(this);

    fetch('/api/login', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Login failed');
      }
      return response.text();
    })
    .then(html => {
      document.open();
      document.write(html);
      document.close();
    })
    .catch(error => {
      document.getElementById('loginErrorMessage').innerText = "Invalid username or password";
    });
  });
  </script>

  <script>
  document.querySelector('.cart-icon-btn').addEventListener('click', function() {
      var isLoggedIn = {{ 'true' if session.logged_in else 'false' }};
      if (!isLoggedIn) {
          var flashMessage = document.createElement('div');
          flashMessage.innerText = 'You need to log in first';
          flashMessage.classList.add('flash-message');
          this.appendChild(flashMessage);

          // Remove the flash message after a few seconds
          setTimeout(function() {
              flashMessage.remove();
          }, 3000);
      } else {
          window.location.href = '{{ url_for('cart') }}'; // Go to cart
      }
  });
  </script>


</body>
</html>