<!DOCTYPE html>
<html>

<head>
  <!-- Basic page setup with meta tags and title -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Homepage</title>
  <!-- icon library and stylesheet reference -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Overlay for styling purposes -->
  <div class="overlay"></div>

  <!-- Top navigation bar -->
  <div class="topnav">
    <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i> Home</a>

    <!-- Search bar form -->
      <form id="searchForm" action="{{ url_for('search') }}" method="GET" onsubmit="return handleSearch()">
        <input class="searchbar" type="text" id="searchInput" name="query" placeholder="search for products <3">
      </form>

    <!-- User icon and dropdown for account management -->
    <div class="imageRight">
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <img src="{{ url_for('static', filename='Icons/user.png')}}" alt="user" class="user-icon" width="27px"
          height="27px">
      </button>
    </div>
    <div class="dropdown-content hidden" id="myDropdown">
      <!-- Dropdown content for user account management -->

      <!-- Close button for dropdown-->
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <i class="fa fa-times fa-xs fa-fw imageRight"
           style="font-size: 2em;"></i>
      </button>

      {% if not session.logged_in %}

        <!-- Account options header -->
        <h2>ACCOUNT</h2>

        <a href="{{ url_for('adminlogin') }}">
          <h4>Admin Login</h4>
        </a>
        <a href="{{ url_for('userlogin') }}">
          <h4>User Login</h4>
        </a>
      </div>
    {% else %}
      <!-- Welcome message and logout option for logged-in users -->
      <h2> Welcome, {{session.username}}</h2>
      <form action="{{ url_for('logout') }}" method="post">
          <input type="submit" value="Logout">
      </form>
      </div>
    {% endif%}

    <!-- Cart icon button -->
    <button class="cart-icon-btn" onclick="window.location.href = '{{ url_for('cart') }}';">
      <img src="{{ url_for('static', filename='Icons/cart.png')}}" alt="user" class="user-icon" width="27px"
        height="27px">
    </button>
  </div>
  </div>
  </div>

  <!-- Bottom navigation bar -->
  <div class="bottomnav">
    <!-- Navigation links for different sections of the site -->
    <ul>
      <li><a href="{{ url_for('categories') }}">Select Category</a></li>
      {% if session.logged_in and session.user_type == 'manager' %}
          <!-- Display New Products Link -->
          <li><a href="{{ url_for('upload') }}">New Products</a><li>
      {% endif %}
      <li><a href="{{ url_for('featured') }}">Featured Products</a></li>
      <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
    </ul>
  </div>

  <!-- Main banner image -->
  <div class="bannerposition">
    <img class="banner" src="{{ url_for('static', filename='Images/banner.png')}}">
  </div>

  <!-- Section to shop by categories -->
  <h4 style="margin-bottom:0;">Shop by:</h4>
  <h2>Categories</h2>

  <!-- Carousel for category selection -->
  <div class="row">
    <div class="carousel carousel-1">
      <button class="carousel-btn prev-btn"><i class="fa fa-chevron-left"></i></button>

      <!-- Container holding the carousel items -->
      <div class="carousel-container">
        <div class="carousel-inner">
          <div class="row">
            <a href="{{ url_for('search', query='Fruit') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/fruits.png')}}" alt="fruits" width="80px"
                  height="80px">
                <h3>Fruit</h3>
              </div>
            </a>
            <a href="{{ url_for('search', query='Vegetable') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/vegetables.png')}}" alt="vegetables" width="80px"
                  height="80px">
                <h3>Vegetables</h3>
              </div>
            </a>
            <a href="{{ url_for('search', query='Dairy') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/dairyproducts.png')}}" alt="dairy" width="80px"
                  height="80px">
                <h3>Dairy and Eggs</h3>
              </div>
            </a>
          </div>

          <div class="row">
            <a href="{{ url_for('search', query='Meat') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/meat.png')}}" alt="meat" width="80px" height="80px">
                <h3>Meats</h3>
                <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
              </div>
            </a>
            <a href="{{ url_for('search', query='Frozen Food') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/frozenfood.png')}}" alt="frozen food" width="80px"
                  height="80px">
                <h3>Frozen Food</h3>
              </div>
            </a>
            <a href="{{ url_for('search', query='Beverages') }}" class="category-button">
              <div class="icon-category">
                <img src="{{ url_for('static', filename='Icons/beverages.png')}}" alt="beverages" width="80px"
                  height="80px">
                <h3>Beverages</h3>
              </div>
            </a>
          </div>
        </div>
      </div>

      <button class="carousel-btn next-btn"><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>

  <!-- Scripts for functionality like jQuery and custom scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/ajaxScript.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>