<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <!-- icon library and stylesheet reference -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
  <div class="overlay"></div>
  <div class="topnav">
    <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i> Home</a>
    <form>
      <input class="searchbar" type="search" placeholder="search for products <3">
    </form>
    <div class="imageRight">
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <img src="{{ url_for('static', filename='Icons/user.png')}}" alt="user" class="user-icon" width="27px"
          height="27px">
    </div></button>
    <div class="dropdown-content hidden" id="myDropdown">
      <button class="user-icon-btn" onclick="toggleDropdown()"><i class="fa fa-times fa-xs fa-fw imageRight"
          style="font-size: 2em;"></i></button>
      <h2>ACCOUNT</h2>
      <div id="oneline">
        <h4>Register</h4>
        <button id="loginButton" class="user-icon-btn" onclick=registrationPopUp()>
          <img class="arrow-level" src="{{ url_for('static', filename='Icons/down.png')}}" alt="downarrow" width="20px"
            height="20px">
        </button>
      </div>
      <div class="form-popup" id="register">
        <form action="example.com/path" class="form-container" id="popUpForm">
          <h2>Registration</h2>
          <input type="text" id="userName" placeholder="Username">
          <input type="password" id="passWord" placeholder="Password">
          <br>
          <input type="password" id="passWord" placeholder="Confirm Password">
          <br>
          <button type="submit">Submit</button>
        </form>
      </div>
      <div id="oneline">
        <h4>Log In</h4>
        <button id="loginButton" class="user-icon-btn" onclick=loginPopUp()>
          <img class="arrow-level" src="{{ url_for('static', filename='Icons/down.png')}}" alt="downarrow" width="20px"
            height="20px">
        </button>
      </div>
      <div class="form-popup" id="login">
        <form action="example.com/path" class="form-container" id="popUpForm">
          <h2>Login</h2>
          <input type="text" id="userName" placeholder="Username">
          <input type="password" id="passWord" placeholder="Password">
          <br>
          <button type="submit">Submit</button>
        </form>
      </div>
      <a href="adminlogin.html">
        <h4>Admin Login</h4>
      </a>
    </div>
    <button class="cart-icon-btn" onclick="window.location.href = '{{ url_for('cart') }}';">
      <img src="{{ url_for('static', filename='Icons/cart.png')}}" alt="user" class="user-icon" width="27px"
        height="27px">
  </div></button> </div>
  </div>
  <div class="bottomnav">
    <ul>
      <li><a href="#">Select Category</a></li>
      <li><a href="#">New Products</a></li>
      <li><a href="#">Featured Products</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <h1 style="margin-left:18%;">Meat:</h2>
    <div class="row" id="iconContainer"></div>
    </div>
    <div class="row">
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/roasted.png')}}" alt="Ham" width="80px" height="80px">
        <h3>Ham</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/roast-chicken.png')}}" alt="Turkey" width="80px" height="80px">
        <h3>Whole Turkey</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/sausages.png')}}" alt="sausages" width="80px" height="80px">
        <h3>Sausage</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}.png"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/minced-meat.png')}}" alt="ground_beef" width="80px"
          height="80px">
        <h3>Ground Beef</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>

    </div>
    <div class="row">
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/chicken.png')}}" alt="chicken" width="80px" height="80px">
        <h3>Chicken</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/beef.png')}}" alt="beef" width="80px" height="80px">
        <h3>Beef Steak</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/chop.png')}}" alt="pork_chop" width="80px" height="80px">
        <h3>Pork Chop</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/bacon.png')}}.png" alt="bacon" width="80px" height="80px">
        <h3>Bacon</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>

    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>

</html>