<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UserLogin</title>
  <!-- icon library and stylesheet reference -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='css/adminloginstyle.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
  <div class="overlay"></div>
  <div class="topnav">
    <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i> Home</a>
    <form id="searchForm" action="{{ url_for('search') }}" method="GET" onsubmit="return handleSearch()">
      <input class="searchbar" type="text" id="searchInput" name="query" placeholder="search for products <3">
    </form>   
    <div class="imageRight">
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <img src="{{ url_for('static', filename='Icons/user.png')}}" alt="user" class="user-icon" width="27px"
          height="27px">
    </div></button>
    <div class="dropdown-content hidden" id="myDropdown">
      <!-- Dropdown content for user account management -->

      <!-- Close button for dropdown-->
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <i class="fa fa-times fa-xs fa-fw imageRight"
           style="font-size: 2em;"></i>
      </button>

      {% if not session.logged_in %}

        <!-- Account options header -->
        <h2>ACCOUNT</h2>

        <a href="{{ url_for('adminlogin') }}">
          <h4>Admin Login</h4>
        </a>
        <a href="{{ url_for('userlogin') }}">
          <h4>User Login</h4>
        </a>
      </div>
    {% else %}
      <!-- Welcome message and logout option for logged-in users -->
      <h2> Welcome, {{session.username}}</h2>
      <form action="{{ url_for('logout') }}" method="post">
          <input type="submit" value="Logout">
      </form>
      </div>
    {% endif%}

    <!-- Cart icon button -->
    <button class="cart-icon-btn" onclick="window.location.href = '{{ url_for('cart') }}';">
      <img src="{{ url_for('static', filename='Icons/cart.png')}}" alt="user" class="user-icon" width="27px"
        height="27px">
    </button>
  </div>
  </div>
  </div>
  <div class="bottomnav">
    <ul>
      <li><a href="#">Select Category</a></li>
      <li><a href="#">New Products</a></li>
      <li><a href="#">Featured Products</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="adminbody">
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{{ url_for('static', filename='Images/loginimage.png')}}" alt="">
        <div class="text">
          <span class="text-1">the place you can get <br> all you need</span>
          <span class="text-2">Let's start managing<3</span>
        </div>
      </div>
      <div class="back">
        <img src="{{ url_for('static', filename='Images/loginimage.png')}}" alt="">
        <div class="text">
         <span class="text-3">the place you can get <br> all you need</span>
          <span class="text-4">Let's start managing<3</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">User Login</div>
          <form action="/api/login" method="post" class="form-box" id="loginForm">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fa fa-fw fa-user"></i>
                <input type="text" id="userName" name="userName" placeholder="Username">
              </div>
              <div class="input-box">
                <i class="fa fa-fw fa-lock"></i>
                <input type="password" id="passWord" name="passWord" placeholder="Password">
              </div>
              <!-- Placeholder for error message -->
              <div id="loginErrorMessage" class="error-message"></div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">User Signup</div>
        <form action="/api/addUser" method="post" class="form-box" id="popUpForm">
            <div class="input-boxes">
              <div class="input-box">
            <i class="fa fa-fw fa-user"></i>
            <input type="text" id="userName" name="name" placeholder="Username">
            </div>

            <!--password-->
            <div class="input-box">
            <i class="fa fa-fw fa-lock"></i>
            <input type="password" id="passWord" name="password" placeholder="Password">
            </div>

            <!--confirm password-->
            <div class="input-box">
            <i class="fa fa-fw fa-lock"></i>
            <input type="password" id="confirmPassWord" name="confirm_password" placeholder="Confirm Password">
            </div>

            <!--email-->
            <div class="input-box">
            <i class="fa fa-fw fa-envelope"></i>
            <input type="email" id="email" name="email" placeholder="Email Address">
            </div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>