<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vegetables</title>
  <!-- icon library and stylesheet reference -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>
  <div class="overlay"></div>
  <div class="topnav">
    <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i> Home</a>
    <form>
      <input class="searchbar" type="search" placeholder="search for products <3">
    </form>
    <div class="imageRight">
      <button class="user-icon-btn" onclick="toggleDropdown()">
        <img src="{{ url_for('static', filename='Icons/user.png')}}" alt="user" class="user-icon" width="27px"
          height="27px">
    </div></button>
    <div class="dropdown-content hidden" id="myDropdown">
      <button class="user-icon-btn" onclick="toggleDropdown()"><i class="fa fa-times fa-xs fa-fw imageRight"
          style="font-size: 2em;"></i></button>
      <h2>ACCOUNT</h2>
      <div id="oneline">
        <h4>Register</h4>
        <button id="loginButton" class="user-icon-btn" onclick=registrationPopUp()>
          <img class="arrow-level" src="{{ url_for('static', filename='Icons/down.png')}}" alt="downarrow" width="20px"
            height="20px">
        </button>
      </div>
      <div class="form-popup" id="register">
        <form action="/api/addUser" method="post" class="form-container" id="popUpForm">
          <h2>Registration</h2>
          <div class="input-container">
          <i class="fa fa-fw fa-user"></i>
          <input type="text" id="userName" name="name" placeholder="Username">
          </div>
          <div class="input-container">
          <i class="fa fa-fw fa-lock"></i>
          <input type="password" id="passWord" name="password" placeholder="Password">
          </div>
          <div class="input-container">
          <i class="fa fa-fw fa-lock"></i>
          <input type="password" id="confirmPassWord" name="confirm_password" placeholder="Confirm Password">
          </div>
          <div class="input-container">
          <i class="fa fa-fw fa-envelope"></i>
          <input type="email" id="email" name="email" placeholder="Email Address">
          </div>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div id="oneline">
        <h4>Log In</h4>
        <button id="loginButton" class="user-icon-btn" onclick=loginPopUp()>
          <img class="arrow-level" src="{{ url_for('static', filename='Icons/down.png')}}" alt="downarrow" width="20px"
            height="20px">
        </button>
      </div>
      <div class="form-popup" id="login">
        <form action="example.com/path" class="form-container" id="popUpForm">
          <h2>Log In</h2>
          <div class="input-container">
          <i class="fa fa-fw fa-user"></i>
          <input type="text" id="userName" placeholder="Username">
        </div>
        <div class="input-container">
          <i class="fa fa-fw fa-lock"></i>
          <input type="password" id="passWord" placeholder="Password">
          </div>
          <br>
            <input type="submit" value="Submit">
        </form>
      </div>
      <a href="{{ url_for('adminlogin') }}">
        <h4>Admin Login</h4>
      </a>
    </div>
    <button class="cart-icon-btn" onclick="window.location.href = '{{ url_for('cart') }}';">
      <img src="{{ url_for('static', filename='Icons/cart.png')}}" alt="user" class="user-icon" width="27px"
        height="27px">
  </div></button>
  </div>
  </div>
  <div class="bottomnav">
    <ul>
      <li><a href="#">Select Category</a></li>
      <li><a href="#">New Products</a></li>
      <li><a href="#">Featured Products</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <h1 style="margin-left:19%;">Vegetables:</h2>
    <div class="row">
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/tomato.png')}}" alt="tomato" width="80px" height="80px">
        <h3>Tomato</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/greenonion.png')}}" alt="green onion" width="80px"
          height="80px">
        <h3>GreenOnion</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/cucumber.png')}}" alt="cucumber" width="80px" height="80px">
        <h3>Cucumber</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/carrots.png')}}" alt="carrots" width="80px" height="80px">
        <h3>Carrots</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>

    </div>
    <div class="row">
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/broccoli.png')}}" alt="broccoli" width="80px" height="80px">
        <h3>Broccoli</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/cauliflower.png')}}" alt="cauliflower" width="80px"
          height="80px">
        <h3>Cauliflower</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/cabbage.png')}}" alt="cabbage" width="80px" height="80px">
        <h3>Cabbage</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>
      <div class="icon">
        <img src="{{ url_for('static', filename='Icons/potato.png')}}" alt="potato" width="80px" height="80px">
        <h3>Potato</h3>
        <div class="add-to">
          <button class="item-buttons" onclick="changeQuantity(this,'decrement')">
            <img class="to-cart-minus arrow-level" src="{{ url_for('static', filename='Icons/minus.png')}}"
              alt="Cart Icon">
          </button>
          <span class="quantity">1</span>
          <button class="item-buttons" onclick="changeQuantity(this,'increment')">
            <img class="to-cart-plus arrow-level" src="{{ url_for('static', filename='Icons/plus.png')}}"
              alt="Cart Icon">
          </button>
        </div>
        <button class="confirm" onclick="resetQuantity(this)">
          <img src="{{ url_for('static', filename='Icons/check.png')}}" alt="check Icon"
            style="width: 16px; height: 16px;">
        </button>
      </div>

    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>